
.album-title {
  font-size:14px;
  color: #ffffff;
  cursor: pointer,
}

.album-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.album-card {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  align-items: center;
}

.album-card :hover {
  text-decoration: underline;
}

.artist-name {
  font-size:14px; 
  color: #a0a0a0;
  cursor: pointer;
}

.artist-title :hover {
  text-decoration: underline;
}

@media (min-width:1025px) {

img {
height: 220px;
width: 220px;
}

.album-container {
max-width: 100%;
justify-content: flex-start;
}
}